{{- if eq $myRole "etcd-node" }}
addedNodes="$(sort -V - << ADDED_NODES_ASC_EOF
{{- range $addedInstances }}
{{ getv (printf "/adding-hosts/etcd_node/%s/sid" .) }}={{ getv (printf "/adding-hosts/etcd_node/%s/ip" .) }}
{{- end }}
ADDED_NODES_ASC_EOF
)"
deletedNodes="$(sort -Vr - << DELETED_NODES_DESC_EOF
{{- range $deletedInstances }}
{{ getv (printf "/deleting-hosts/etcd_node/%s/sid" .) }}={{ getv (printf "/deleting-hosts/etcd_node/%s/ip" .) }}
{{- end }}
DELETED_NODES_DESC_EOF
)"
{{- end }}

changedVariables=$(updateAndCompareFile /opt/app/bin/.env << APP_ENV_FILE
CLUSTER_ID={{ getv "/cluster/cluster_id" }}
ETCD_COMPACT_INTERVAL={{ getv "/env/etcautocompact" "0" }}
MY_ROLE={{ $myRole }}
MY_SID={{ $mySid }}
MY_IP={{ getv "/host/ip" }}
STABLE_NODES="$(echo $stableNodes)"
{{- if eq $myRole "etcd-node" }}
ADDED_NODES="$(echo $addedNodes)"
DELETED_NODES="$(echo $deletedNodes)"
ALL_NODES="$(echo $allNodes)"
IS_ADDED={{ $isAdded }}
IS_DELETED={{ $isDeleted }}
{{- end }}
APP_ENV_FILE
)

cat > /opt/app/bin/changes.env << CHANGES_ENV_EOF
CHANGED_VARS='$(echo $changedVariables)'
CHANGES_ENV_EOF
