{
    "name": {{cluster.name}},
    "description": {{cluster.description}},
    "vxnet": {{cluster.vxnet}},
    "incremental_backup_supported": true,
    "backup_policy": "device",
    "nodes": [{
      "role": "etcd_node",
        "container": {
            "type": "kvm",
            "zone": "pek3a",
            "image": "img-cu9keuw5"
        },
        "count": {{cluster.etcd_node.count}},
        "instance_class": {{cluster.etcd_node.instance_class}},
        "cpu": {{cluster.etcd_node.cpu}},
        "memory": {{cluster.etcd_node.memory}},
        "volume": {
            "size": {{cluster.etcd_node.volume_size}},
            "mount_point": "/data/",
            "filesystem": "ext4",
            "mount_options": "defaults,noatime"
        },
        "server_id_upper_bound": 255,
        "services": {
            "init": {
                "nodes_to_execute_on": 1,
                "post_start_service": true,
                "cmd": "/usr/local/bin/backup.sh"
            },
            "start": {
                "order": 1,
                "cmd": "systemctl start etcd",
                "timeout": 86400
            },
            "stop": {
                "cmd": "systemctl stop etcd"
            },
            "destroy": {
              "cmd": "/usr/local/bin/leave.sh"
            },
            "compact": {
              "nodes_to_execute_on": 1,
              "type": "custom",
              "cmd": "/usr/local/bin/compact.sh",
              "timeout": 86400
            },
            "scale_in": {
              "cmd": "/usr/local/bin/leave.sh",
              "order": 1,
              "nodes_to_execute_on": 1,
              "timeout": 86400
            },
            "scale_out": {
              "order": 1,
              "cmd": "echo TEST"
            },
            "backup": {
              "nodes_to_execute_on": 1,
              "cmd": "/usr/local/bin/backup.sh"
            },
            "restore": {
              "cmd": "/usr/local/bin/restore.sh;systemctl start etcd;echo 'finished' "
            },
            "delete_snapshot": {
              "cmd": "/usr/local/bin/delete_backup.sh"
            }
        },
        "health_check": {
            "enable": true,
            "interval_sec": 60,
            "timeout_sec": 10,
            "action_timeout_sec": 60,
            "healthy_threshold": 3,
            "unhealthy_threshold": 3,
            "check_cmd": "curl http://127.0.0.1:2379/health",
            "action_cmd": "systemctl stop etcd;systemctl stop etcd-status-guard;/usr/local/bin/leave.sh;systemctl start etcd"
        },
          "env": {
                "etcautocompact": {{env.etcd_node.autocompact}}
        },
        "monitor": {
            "enable": true,
            "cmd": "/usr/local/bin/prom2json http://127.0.0.1:2379/metrics",
            "items": {
               "etcd_grpc_proxy_cache_hits_total":{
                              "unit": "",
                              "value_type": "int",
                              "statistics_type": "latest",
                              "scale_factor_when_display": 0.001
                          },
               "etcd_grpc_proxy_cache_misses_total":{
                              "unit": "",
                              "value_type": "int",
                              "statistics_type": "latest",
                              "scale_factor_when_display": 0.001
                          },
               "etcd_grpc_proxy_events_coalescing_total":{
                              "unit": "",
                              "value_type": "int",
                              "statistics_type": "latest",
                              "scale_factor_when_display": 0.001
                          },
               "etcd_grpc_proxy_watchers_coalescing_total":{
                              "unit": "",
                              "value_type": "int",
                              "statistics_type": "latest",
                              "scale_factor_when_display": 0.001
                          },
               "etcd_network_client_grpc_received_bytes_total":{
                              "unit": "",
                              "value_type": "int",
                              "statistics_type": "latest",
                              "scale_factor_when_display": 0.001
                          },
               "etcd_network_client_grpc_sent_bytes_total":{
                              "unit": "",
                              "value_type": "int",
                              "statistics_type": "latest",
                              "scale_factor_when_display": 0.001
                          },
               "etcd_network_peer_received_bytes_total":{
                              "unit": "",
                              "value_type": "int",
                              "statistics_type": "latest",
                              "scale_factor_when_display": 0.001
                          },
               "etcd_network_peer_sent_bytes_total":{
                              "unit": "",
                              "value_type": "int",
                              "statistics_type": "latest",
                              "scale_factor_when_display": 0.001
                          },
               "etcd_server_has_leader":{
                              "unit": "",
                              "value_type": "int",
                              "statistics_type": "latest",
                              "scale_factor_when_display": 0.001
                          },
               "etcd_server_leader_changes_seen_total":{
                              "unit": "",
                              "value_type": "int",
                              "statistics_type": "latest",
                              "scale_factor_when_display": 0.001
                          },
               "etcd_server_proposals_applied_total":{
                              "unit": "",
                              "value_type": "int",
                              "statistics_type": "latest",
                              "scale_factor_when_display": 0.001
                          },
               "etcd_server_proposals_committed_total":{
                              "unit": "",
                              "value_type": "int",
                              "statistics_type": "latest",
                              "scale_factor_when_display": 0.001
                          },
               "etcd_server_proposals_failed_total":{
                              "unit": "",
                              "value_type": "int",
                              "statistics_type": "latest",
                              "scale_factor_when_display": 0.001
                          },
               "etcd_server_proposals_pending":{
                              "unit": "",
                              "value_type": "int",
                              "statistics_type": "latest",
                              "scale_factor_when_display": 0.001
                          },
               "http_requests_total":{
                              "unit": "",
                              "value_type": "int",
                              "statistics_type": "latest",
                              "scale_factor_when_display": 0.001
                          },
               "process_cpu_seconds_total":{
                              "unit": "",
                              "value_type": "int",
                              "statistics_type": "latest",
                              "scale_factor_when_display": 0.001
                          },
               "process_max_fds":{
                              "unit": "",
                              "value_type": "int",
                              "statistics_type": "latest",
                              "scale_factor_when_display": 0.001
                          },
               "process_open_fds":{
                              "unit": "",
                              "value_type": "int",
                              "statistics_type": "latest",
                              "scale_factor_when_display": 0.001
                          },
               "process_resident_memory_bytes":{
                              "unit": "",
                              "value_type": "int",
                              "statistics_type": "latest",
                              "scale_factor_when_display": 0.001
                          },
               "process_start_time_seconds":{
                              "unit": "",
                              "value_type": "int",
                              "statistics_type": "latest",
                              "scale_factor_when_display": 0.001
                          },
               "process_virtual_memory_bytes":{
                              "unit": "",
                              "value_type": "int",
                              "statistics_type": "latest",
                              "scale_factor_when_display": 0.001
                          }
            },
            "groups": {
                "etcd": ["etcd_server_has_leader","etcd_network_peer_sent_bytes_total","etcd_grpc_proxy_watchers_coalescing_total"],
                "process": ["process_cpu_seconds_total","process_resident_memory_bytes","process_virtual_memory_bytes","http_requests_total"]
            },
            "display": ["etcd", "process"],
            "alarm": ["etcd_server_has_leader"]
        }
    },{
      "role": "etcd_proxy",
        "container": {
            "type": "lxc",
            "zone": "pek3a",
            "image": "img-iqsvrf8g"
        },
        "count": {{cluster.etcd_proxy.count}},
        "instance_class": {{cluster.etcd_proxy.instance_class}},
        "cpu": {{cluster.etcd_proxy.cpu}},
        "memory": {{cluster.etcd_proxy.memory}},
        "server_id_upper_bound": 255,
        "services": {
            "start": {
              "order": 2,
              "cmd": "systemctl start etcd-proxy;/usr/local/bin/restart_coredns.sh"
            },
            "stop": {
              "order": 2,
              "cmd": "systemctl stop etcd-proxy;systemctl stop coredns"
            },
            "scale_in": {
              "order": 2,
              "cmd": "systemctl restart etcd-proxy;/usr/local/bin/restart_coredns.sh"
            },
            "scale_out": {
              "order": 2,
              "cmd": "systemctl restart etcd-proxy;/usr/local/bin/restart_coredns.sh"
            }
        },
        "health_check": {
            "enable": true,
            "interval_sec": 60,
            "timeout_sec": 10,
            "action_timeout_sec": 60,
            "healthy_threshold": 3,
            "unhealthy_threshold": 3,
            "check_cmd": "curl http://127.0.0.1:2379/health",
            "action_cmd": "systemctl restart etcd"
        },
        "monitor": {
            "enable": true,
            "cmd": "/usr/local/bin/prom2json http://127.0.0.1:2379/metrics",
            "items": {
               "etcd_grpc_proxy_cache_hits_total":{
                              "unit": "",
                              "value_type": "int",
                              "statistics_type": "latest",
                              "scale_factor_when_display": 0.001
                          },
               "etcd_grpc_proxy_cache_misses_total":{
                              "unit": "",
                              "value_type": "int",
                              "statistics_type": "latest",
                              "scale_factor_when_display": 0.001
                          },
               "etcd_grpc_proxy_events_coalescing_total":{
                              "unit": "",
                              "value_type": "int",
                              "statistics_type": "latest",
                              "scale_factor_when_display": 0.001
                          },
               "etcd_grpc_proxy_watchers_coalescing_total":{
                              "unit": "",
                              "value_type": "int",
                              "statistics_type": "latest",
                              "scale_factor_when_display": 0.001
                          },
               "etcd_network_client_grpc_received_bytes_total":{
                              "unit": "",
                              "value_type": "int",
                              "statistics_type": "latest",
                              "scale_factor_when_display": 0.001
                          },
               "etcd_network_client_grpc_sent_bytes_total":{
                              "unit": "",
                              "value_type": "int",
                              "statistics_type": "latest",
                              "scale_factor_when_display": 0.001
                          },
               "etcd_network_peer_received_bytes_total":{
                              "unit": "",
                              "value_type": "int",
                              "statistics_type": "latest",
                              "scale_factor_when_display": 0.001
                          },
               "etcd_network_peer_sent_bytes_total":{
                              "unit": "",
                              "value_type": "int",
                              "statistics_type": "latest",
                              "scale_factor_when_display": 0.001
                          },
               "etcd_server_has_leader":{
                              "unit": "",
                              "value_type": "int",
                              "statistics_type": "latest",
                              "scale_factor_when_display": 0.001
                          },
               "etcd_server_leader_changes_seen_total":{
                              "unit": "",
                              "value_type": "int",
                              "statistics_type": "latest",
                              "scale_factor_when_display": 0.001
                          },
               "etcd_server_proposals_applied_total":{
                              "unit": "",
                              "value_type": "int",
                              "statistics_type": "latest",
                              "scale_factor_when_display": 0.001
                          },
               "etcd_server_proposals_committed_total":{
                              "unit": "",
                              "value_type": "int",
                              "statistics_type": "latest",
                              "scale_factor_when_display": 0.001
                          },
               "etcd_server_proposals_failed_total":{
                              "unit": "",
                              "value_type": "int",
                              "statistics_type": "latest",
                              "scale_factor_when_display": 0.001
                          },
               "etcd_server_proposals_pending":{
                              "unit": "",
                              "value_type": "int",
                              "statistics_type": "latest",
                              "scale_factor_when_display": 0.001
                          },
               "http_requests_total":{
                              "unit": "",
                              "value_type": "int",
                              "statistics_type": "latest",
                              "scale_factor_when_display": 0.001
                          },
               "process_cpu_seconds_total":{
                              "unit": "",
                              "value_type": "int",
                              "statistics_type": "latest",
                              "scale_factor_when_display": 0.001
                          },
               "process_max_fds":{
                              "unit": "",
                              "value_type": "int",
                              "statistics_type": "latest",
                              "scale_factor_when_display": 0.001
                          },
               "process_open_fds":{
                              "unit": "",
                              "value_type": "int",
                              "statistics_type": "latest",
                              "scale_factor_when_display": 0.001
                          },
               "process_resident_memory_bytes":{
                              "unit": "",
                              "value_type": "int",
                              "statistics_type": "latest",
                              "scale_factor_when_display": 0.001
                          },
               "process_start_time_seconds":{
                              "unit": "",
                              "value_type": "int",
                              "statistics_type": "latest",
                              "scale_factor_when_display": 0.001
                          },
               "process_virtual_memory_bytes":{
                              "unit": "",
                              "value_type": "int",
                              "statistics_type": "latest",
                              "scale_factor_when_display": 0.001
                          }
            },
            "groups": {
                "etcd": ["etcd_server_has_leader","etcd_network_peer_sent_bytes_total","etcd_grpc_proxy_watchers_coalescing_total"],
                "process": ["process_cpu_seconds_total","process_resident_memory_bytes","process_virtual_memory_bytes","http_requests_total"]
            },
            "display": ["etcd", "process"],
            "alarm": ["etcd_server_has_leader"]
        }
    }
    ],
    "env": {
          "enableCoredns": {{env.etcd_proxy.enableCoredns}},
          "corednszone": {{env.etcd_proxy.corednszone}},
          "corednsetcdprefix": {{env.etcd_proxy.corednsetcdprefix}}
    },
    "advanced_actions": [ "scale_horizontal"],
    "endpoints": {
            "client": {
                "port": 2379,
                "protocol": "http"
            },
            "dns": {
                "port": 53
            }
    }
}
