# [member]
UNIQUESID={{getv "/host/sid"}}
ETCD_LISTEN_ADDR="0.0.0.0:2379"
ETCD_ENDPOINTS='{{range $index,$dir := lsdir "/hosts/etcd_node"}}{{$ip := printf "/hosts/etcd_node/%s/ip" $dir}}{{if $index}},http://{{getv $ip}}:2379{{else}}http://{{getv $ip}}:2379{{end}}{{end}}'
#
