[Unit]
Description=Etcd Server status Guard
After=network.target
After=network-online.target
Wants=network-online.target


[Service]
Type=notify
WorkingDirectory=/var/lib/etcd/
EnvironmentFile=-/etc/etcd/etcd.conf
User=root
ExecStart=/usr/local/bin/join.sh
LimitNOFILE=65536
NotifyAccess=all
TimeoutStartSec=0
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
