[Unit]
Description=Etcd Server
After=network.target
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
WorkingDirectory=/var/lib/etcd/
EnvironmentFile=-/etc/etcd/etcd.conf
User=root
# set GOMAXPROCS to number of processors
ExecStart=/bin/bash -c "/usr/local/bin/etcd --name=etcd$UNIQUESID"
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
