[Unit]
Description=Etcd Server
After=network.target
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
WorkingDirectory=/var/lib/etcd/
EnvironmentFile=-/etc/etcd/etcd.conf
User=root
# set GOMAXPROCS to number of processors
ExecStartPre=/usr/local/bin/join.sh
ExecStart=/bin/bash -c "ETCD_NAME=etcd$UNIQUESID /usr/local/bin/etcd"
ExecStartPost=/usr/local/bin/post_run.sh
Restart=on-failure
LimitNOFILE=65536
NotifyAccess=all

[Install]
WantedBy=multi-user.target
