# [member]
UNIQUESID={{getv "/host/sid"}}
ETCD_DATA_DIR="/var/lib/etcd/default.etcd"

ETCD_LISTEN_PEER_URLS="http://{{getv "/host/ip"}}:2380"
ETCD_LISTEN_CLIENT_URLS="http://0.0.0.0:2379"
#
#[cluster]
ETCD_INITIAL_ADVERTISE_PEER_URLS="http://{{getv "/host/ip"}}:2380"
ETCD_INITIAL_CLUSTER='{{range $index,$dir := lsdir "/hosts/etcd_node"}}{{$sid := printf "/hosts/etcd_node/%s/sid" $dir}}{{$ip := printf "/hosts/etcd_node/%s/ip" $dir}}{{if $index}},etcd{{getv $sid}}=http://{{getv $ip}}:2380{{else}}etcd{{getv $sid}}=http://{{getv $ip}}:2380{{end}}{{end}}'
ETCD_ADVERTISE_CLIENT_URLS="http://{{getv "/host/ip"}}:2379"
ETCD_QUOTA_BACKEND_BYTES=8589934592
ETCD_AUTO_COMPACTION_RETENTION={{getv "/env/etcautocompact"}}
ETCD_INITIAL_CLUSTER_TOKEN="{{getv "/cluster/cluster_id"}}"

#
#[proxy]
#ETCD_PROXY_FAILURE_WAIT="5000"
#ETCD_PROXY_REFRESH_INTERVAL="30000"
#ETCD_PROXY_DIAL_TIMEOUT="1000"
#ETCD_PROXY_WRITE_TIMEOUT="5000"
#ETCD_PROXY_READ_TIMEOUT="0"
#
#[security]
#ETCD_CERT_FILE=""
#ETCD_KEY_FILE=""
#ETCD_CLIENT_CERT_AUTH="false"
#ETCD_TRUSTED_CA_FILE=""
#ETCD_PEER_CERT_FILE=""
#ETCD_PEER_KEY_FILE=""
#ETCD_PEER_CLIENT_CERT_AUTH="false"
#ETCD_PEER_TRUSTED_CA_FILE=""
#
#[logging]
#ETCD_DEBUG="false"
# examples for -log-package-levels etcdserver=WARNING,security=DEBUG
#ETCD_LOG_PACKAGE_LEVELS=""
