[Unit]
Description=CoreDNS DNS server
Documentation=https://coredns.io
After=network.target
After=etcd-proxy.service
Wants=etcd-proxy.target

[Service]
Type=simple
WorkingDirectory=/var/lib/etcd/coredns
User=root
ExecStart=/usr/local/bin/coredns -conf=/var/lib/etcd/coredns/Corefile
ExecReload=/bin/kill -SIGUSR1 $MAINPID
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
